---
layout: default
title: Presentations and conferences - Innovation Lab
---

<div class="home" id="home">
  <h1 class="pageTitle">Presentations and conferences</h1>
  <ul class="posts noList">
      {% for post in site.categories.presentacion %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
      {% endfor %}
  </ul>
</div>

<table>
<tr>
    <td></td>
    <td>Date</td>
    <td>Title</td>
    <td>Speaker</td>
    <td>Conference</td>
    <td>Location</td>
    <td>Additional info</td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2017-06-14</td>
    <td>Machine Learning</td>
    <td>Adrián Catalán</td>
    <td>Royale Talks</td>
    <td>Guatemala</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2017-06-07</td>
    <td>ML + Android</td>
    <td>Adrián Catalán</td>
    <td>GDG Guatemala</td>
    <td>Guatemala</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2017-05-23</td>
    <td>Inventando el Futuro</td>
    <td>Adrián Catalán</td>
    <td>Innovation Summit</td>
    <td>Guatemala</td>
    <td>Slides: https://goo.gl/vXsQlw</td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2017-08-24</td>
    <td>ReacTex: using React Native and Neural Networks to recognize handwritten equations</td>
    <td>Bonnie Milián</td>
    <td>React Rally</td>
    <td>Salt Lake City, UT, USA</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2016-10-07</td>
    <td>Javascript got me flying through the air</td>
    <td>Bonnie Milián</td>
    <td>JSConf Colombia</td>
    <td>Medellín, Colombia</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2016</td>
    <td>ILDrone Project</td>
    <td>Bonnie Milián</td>
    <td>Nodebots Meetup</td>
    <td>Guatemala</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2016-10-03</td>
    <td>I can make an AR/VR mini game (and so can you)</td>
    <td>Yosef Maldonado</td>
    <td>Maker Faire</td>
    <td>Queens, NY, USA</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2016-04-02</td>
    <td>Arduino Basico</td>
    <td>Yosef Maldonado</td>
    <td>Arduino day</td>
    <td>Guatemala</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2017-03-03</td>
    <td>AR/VR Unity for Android and Google Tango</td>
    <td>Yosef Maldonado</td>
    <td>Droidcon</td>
    <td>Dominican Republic</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2017-05-17</td>
    <td>Project Tango</td>
    <td>Yosef Maldonado</td>
    <td>Google IO extended</td>
    <td>Guatemala</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>2017-06-07</td>
    <td>Project Tango</td>
    <td>Yosef Maldonado</td>
    <td>Cultura Android Guatemala</td>
    <td>Guatemala</td>
    <td></td>
    <td></td>
</tr>
</table>