---
layout: default
title: Presentations and conferences - Innovation Lab
---

<div class="home" id="home">
  <h1 class="pageTitle">Presentations and conferences</h1>
  <ul class="posts noList">
      {% for post in site.categories.presentacion %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
      {% endfor %}
  </ul>


  | Date       | Title                                                                              | Speaker         | Conference                | Location                | Additional info               |
|------------|------------------------------------------------------------------------------------|-----------------|---------------------------|-------------------------|-------------------------------|
| 2017-06-14 | Machine Learning                                                                   | Adrián Catalán  | Royale Talks              | Guatemala               |                               |
| 2017-06-07 | ML + Android                                                                       | Adrián Catalán  | GDG Guatemala             | Guatemala               |                               |
| 2017-05-23 | Inventando el Futuro                                                               | Adrián Catalán  | Innovation Summit         | Guatemala               | Slides: https://goo.gl/vXsQlw |
| 2017-08-24 | ReacTex: using React Native and Neural Networks to recognize handwritten equations | Bonnie Milián   | React Rally               | Salt Lake City, UT, USA |                               |
| 2016-10-07 | Javascript got me flying through the air                                           | Bonnie Milián   | JSConf Colombia           | Medellín, Colombia      |                               |
| 2016       | ILDrone Project                                                                    | Bonnie Milián   | Nodebots Meetup           | Guatemala               |                               |
| 2016-10-03 | I can make an AR/VR mini game (and so can you)                                     | Yosef Maldonado | Maker Faire               | Queens, NY, USA         |                               |
| 2016-04-02 | Arduino Basico                                                                     | Yosef Maldonado | Arduino day               | Guatemala               |                               |
| 2017-03-03 | AR/VR Unity for Android and Google Tango                                           | Yosef Maldonado | Droidcon                  | Dominican Republic      |                               |
| 2017-05-17 | Project Tango                                                                      | Yosef Maldonado | Google IO extended        | Guatemala               |                               |
| 2017-06-07 | Project Tango                                                                      | Yosef Maldonado | Cultura Android Guatemala | Guatemala               |                               |
</div>