<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{site.url}}">InnovationLab</i></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{site.url}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li><a href="/staff.html">Staff</a></li>
      <li><a href="/proyectos.html">Proyectos</a></li>
      <li><a href="/presentaciones.html">Presentaciones</a></li>
      <li><a href="/talleres.html">Talleres</a></li>
    </ul>
  </div>
</nav>