<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include navbar.html %}
        {% include header.html %}
        <div class="w3-sand w3-grayscale w3-large">
            <div class="w3-container" id="prerequisitos">
                <div class="w3-content" style="max-width:700px">
                  <h5 class="w3-left-align w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">TITULO</span></h5>
                  <i class="fa fa-check" aria-hidden="true"></i>Por alguna razon aqui usamos HTML.
                </div>
            </div>

            <div class="w3-container" id="about">
                <div class="w3-content" style="max-width:700px">
                  <h5 class="w3-right-align w3-padding-48"><span class="w3-tag w3-wide w3-padding-left w3-padding-right">DESCRIPCIÓN</span></h5>
                    <p>En esta pagina ponemos la presentacion de todo.</p>
                </div>
            </div>    

        </div>
        {% include footer.html %}
    </body>
</html>
